/*populate toolBar*/

* {
	margin: 0px;
	padding: 0px;
}

.ToolBar {
	margin: 0 auto;
	background-color: #ecf0f1;
	height: 90px;
	padding-left: 80px;
	padding-right: 80px;
}

.Logo {
	margin-top: 22px;
	float: left;
	color: #224182;
}

.LogoLeft {
	padding: 5px;
	font-size: 32px;
	float: left;
	border-right: 1px #224182 solid;
}

.LogoRight {
	padding: 5px;
	font-size: 10px;
	float: left;
}

.Navigation {
	margin-left: 75px;
	margin-top: 38px;
	font-size: 12px;
	color: #224182;
	float: left;
}

.Navigation div {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.FeedBackRequest {
	margin-top: 22px;
	float: right;
}

.FeedBackRequest .Number {
	font-size: 22px;
	color: #224182;
}

.FeedBackRequest .Label {
	font-size: 12px;
	color: #f70c47;
	float: right;
	border-bottom: 1px #f70c47 solid;
}

/*populate Rout Content*/

.RouteContainer {
	text-align: center;
	padding-top: 110px;
	height: 630px;
	background-color: blue;
}

.RouteContainer .Label {
	color: #fff;
}

.RouteContainer .Label .Top{
	font-size: 18px;
}

/*.body{
	background: #000;
	width: 1360px;
}

.header{
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	background: #ecf0f1;
}

.ToolBar{
	margin: 0 auto;
    width:1200px;
    height:90px;
    background: yellow;
}

.Logo{
	float: left;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.LogoShort{
	float: left;
	border-right: 1px solid indigo;
	font-size: 32px;
	padding-right: 5px;
}

.LogoLong{
	font-size: 9px;
}

.LogoLong div{
	float: left;
	padding-left: 5px;
}

.Navigation{
	text-align: center;
	float: left;
}

.Navigation ul {
	list-style-type: none;
}

.Navigation ul li{
	font-size: 11px;
	float: left;
	margin: 5px;
}

.FeedBackContainer{
	float: right;
}

.FeedBackContainer .Order{
	float: right;
}*/

/*.RouteContainer{
	height: 1360px;
	height: 630px;
	background: red;
}